.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 50px;
  min-width: 375px;
  max-width: 800px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 400px;
  width: auto;
  margin-bottom: 25px;
}

.moviePoster {
  padding: 20px;
}

.movieDetails {
  height: 350px;
  display: flex;
  justify-content: first baseline;
  flex-direction: column;
}

.titleDiv {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.titleDiv h2 {
  margin: 10px;
  text-align: left;
  font-size: 1.1em;
  max-width: 75%;
  max-height: 90%;
  color: rgb(69, 80, 180);
}

.titleDiv .ratings {
  font-size: 1.6em;
  align-self: center;
  color: rgb(221, 111, 21);
}

.movieSpecs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

/* movie specs blue background */
.movieSpecs p {
  padding: 5px;
  margin: 5px;
  background-color: rgb(69, 80, 180);
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  font-size: 0.7em;
  font-weight: 500;
}

.movieInfo {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.movieInfo h4 {
  margin-bottom: 5px;
}
.movieInfo p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

button {
  font-size: 15px;
  color: white;
  height: 35px;
  width: 75px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  background-color: rgb(221, 111, 21);
}

button:hover {
  background-color: rgb(185, 93, 18);
  cursor: pointer;
}

.Modal {
  background-color: whitesmoke;
  width: 600px;
  height: 500px;
  z-index: 100;
  position: relative;
  top: -500px;
  margin: 0 auto;
  border-radius: 1em;
}

.Modal img {
  height: 300px;
  width: auto;
}